@charset="UTF-8";

/* header start */
header#header{
    width: 100%;
	height: 160px;
}
div.main{
    width: 100%;
    height: 40px;
    background-color: #0044af;
}
   
.main>.headertop{
    width: 1200px;
    margin: 0 auto;
}

div.headertop>nav.headerleft{float: left;}
    
div.headertop>nav.headerleft>ul{}
div.headertop>nav.headerleft>ul>li{
  float: left;
  width: 120px;
  line-height: 40px;
  text-align: center;
  background-color: black;
  margin-left: 2px;
}
div.headertop>nav.headerleft>ul>li:first-child{margin-left: 0;}
div.headertop>nav.headerleft>ul>li>a{
  color: #fff;
  display: block;
}

div.headertop>nav.headerleft>ul>li>a:hover{
  background-color: #fff;
  color: #000;
}
div.headertop>nav.header-right{float: right;}

div.headertop>nav.header-right>ul{}
div.headertop>nav.header-right>ul>li{
  float: left;
  line-height: 40px;
  text-align: center;
  margin-left: 10px;
}
.headertop>.header-right>ul>li>a{
  color: #fff;
}

.headertop>.header-right>ul>li>div.plus{
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold; 
}

.headertop>.header-right>ul>li>div.minus{
  float: left;	
  width: 20px;
  height: 20px; 
  margin-left: 10px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  font-weight: bold; 
}

.headertop>.header-right>ul>li:nth-child(2){padding-top: 10px;}
 
div.second-head{
	width: 1200px; 
	margin: 0 auto;
}

div.second-head>h1{width: 210px; height: 120px; float: left;}

div.second-head>div.gnb{float: right;}

div.second-head>div.gnb>ul{}
div.second-head>div.gnb>ul>li{
  float: left;
  line-height: 120px;
  text-align: center;
  margin-right: 10px; 
}

div.second-head>div.gnb>ul>li:nth-child(6){
  margin-top: 20px;
}
div.second-head>div.gnb>ul>li>a{}
/* header end */
       

/* main start */
div.container{
  height: 1310px;
  background-image: url(../img/bgp.gif), url(../img/bgmain.jpg);
  background-repeat: repeat, no-repeat;
  background-position: center;
  background-size: auto, cover;       
}
    
div.wrapper{
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 80px;
}
    
div.maintxt{
	width: 600px; 
	float: left;
}
div.wrapper>div.maintxt>p{
  color: white;
  padding-top: 80px;
  font-size: 30px;
}

div.wrapper>div.maintxt>p span{
  font-size: 50px;
  font-weight: bold;
}

div.wrap{float: right;}
div.wrap>ul>li{

  float: left;
  text-align: center;
  margin-left: 20px;
  color: white;
  padding-top: 60px;
}

div#sliderWrap{
  width: 1200px; 
  margin: 0 auto; 
  position: relative;
} 

.bx-wrapper{
  -moz-box-shadow: 0 none;
  -webkit-box-shadow: 0 none;
  box-shadow: 0 none;
  border: 0 none;
}  

.bx-wrapper .bx-pager{
  position: absolute;
  bottom: -30px;
  width: 100%;
}
div#sliderWrap>ul>li{
  float:left;
  position: relative;
}
div#sliderWrap>ul>li:first-child{
  width: 75%;
  height: 450px;
  float: left; 
}

div#sliderWrap>ul>li:first-child div.mainsliderTxt{
  position: absolute;
  top: 85px;
  left: 75px;

}
div#sliderWrap>ul>li:first-child div.mainsliderTxt p{
  color: #1651b7;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}

div#sliderWrap>ul>li:first-child div.mainsliderTxt span{
  font-weight: 500;
}

div#sliderWrap>ul>li:first-child div.mainsliderTxt a.btn{
  display: block;
  border: 1px solid #000;
  color: white;
  font-weight: 400;
  background-color: #182d4c;
  line-height: 40px;
  text-align: center;
}  
.nextBtn, .prevBtn{
  position: absolute; 
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
  }

.nextBtn{right: 0;}

div#sliderWrap>ul>li:nth-child(2){
  width: 25%;
  height: 450px;
  float: left;  
}
div#sliderWrap>ul>li:nth-child(2) div.secondTxt{
  position: absolute;
  top: 80px;
  right: 50px;
}

div#sliderWrap>ul>li:nth-child(2) div.secondTxt p{
  color: #fff;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 25px;
}

div#sliderWrap>ul>li:nth-child(2) div.secondTxt span{
  font-weight: bold;
}

div#sliderWrap>ul>li:nth-child(2) div.secondTxt p.two{
  font-size: 15px; 
  margin-bottom: 30px;
}

div#sliderWrap>ul>li:nth-child(2) div.secondTxt a.btn2{
  display: block;
  border: 1px solid #fff;
  color: white;
  _font-weight: normal; 
  background-color:rgba(0,0,0,0.3);
  line-height: 40px;
  text-align: center;
}
    
div#sliderWrap>ul>li:nth-child(3){
  width: 25%;
  height: 225px;
  float: left;
  background-color: #00163b;
  color: #fff;
}
div#sliderWrap>ul>li:nth-child(3) p.txt{
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
div#sliderWrap>ul>li:nth-child(3) li{
  float: left;
  margin-top: 28px;
  margin-left: 22px;

}

div#sliderWrap>ul>li:nth-child(3) li p{
  font-size: 15px;
  text-align: center;
}


div#sliderWrap>ul>li:nth-child(4){
  width: 25%;
  height: 225px;
  float: left;  
}

div#sliderWrap>ul>li:nth-child(4) div.gongji{
  position: absolute;
  top: 15px;
  left: 20px;
}
div#sliderWrap>ul>li:nth-child(4) div.gongji p{
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
div#sliderWrap>ul>li:nth-child(4) div.gongji p:after{
  display: block;
  width: 260px;
  height: 2px;
  background-color: #fff;
  content:"";
  margin-top: 20px;
  margin-bottom: 20px; 
}
div#sliderWrap>ul>li:nth-child(4) div.gongji a{
  color: #fff;
  font-size: 15px;
  display: block;
  width: 260px;
  margin-bottom: 10px;
}
div#sliderWrap>ul>li:nth-child(4) div.gongji span{
  position: absolute;
  right: 0px;
}

div#sliderWrap>ul>li:nth-child(5){
  width: 25%;
  height: 225px;
  float: left;
  background-color: white;
}
div#sliderWrap>ul>li:nth-child(5) p.newstxt{
  font-weight: 800;
  font-size: 20px;
  color: #00153c;
  margin-top: 20px;
  margin-left: 20px;
}

div#sliderWrap>ul>li:nth-child(5) div.news{
  width: 280px;
  margin-left: 20px;
  margin-top: 25px;
}
div#sliderWrap>ul>li:nth-child(5) div.news img{
  width: 115px;
  float: left;
}

div#sliderWrap>ul>li:nth-child(5) div.news p{
  width: 140px;
  float: left;
  font-size: 14px;
  margin-left: 10px;
}

div#sliderWrap>ul>li:nth-child(5) ul.sns{
  position: absolute; 
  right: 20px; 
  margin-top: 100px;
}
div#sliderWrap>ul>li:nth-child(5) li{
  float: left; 
  margin-left: 5px;
}


div#sliderWrap>ul>li:nth-child(6){
  width: 25%;
  height: 225px;
  float: left;  
}
div#sliderWrap>ul>li:nth-child(6) div.btnwrap{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.8);
  
}

div#sliderWrap>ul>li:nth-child(6) div.btnwrap p{
  color: white;
  text-align: center;
  line-height: 40px;

}

div#sliderWrap>ul>li:nth-child(7){
  width: 25%;
  height: 225px;
  float: left;  
}


div#sliderWrap>ul>li:last-child{
  width: 75%;
  height: 225px;
  float: left;  
}

div#sliderWrap>ul>li:last-child div.lastTxt{
  position: absolute;
  top: 30px;
  left: 40px;

}
div#sliderWrap>ul>li:last-child div.lastTxt p{
  color: #ff4f3d;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

div#sliderWrap>ul>li:last-child div.lastTxt span{
  font-weight: 800;
  font-size: 50px;
}

div#sliderWrap>ul>li:last-child div.lastTxt .btn3{
  width: 180px;
  display: block;
  border: 1px solid #fff;
  color: white;
  font-weight: normal;
  font-size: 14px;
  background-color: #f94336;
  line-height: 40px;
  text-align: center;
}
div#sliderWrap>ul>li:last-child .bx-wrapper .bx-pager{
  position: absolute;
  top: -10px;
  width: 100px;
  right: -10px;
}
div#sliderWrap>div.lastwrap{
  margin-bottom: 15px;
}
div#sliderWrap>div.lastwrap>div.l-text{
  position: absolute;
  width: 300px;
  height: 50px;
  background-color: #fff;
}
div#sliderWrap>div.lastwrap>div.l-text p{
  text-align: center;
  color: #000;
}

footer.footer{height: 165px; background-color: #fff; padding: 20px 0;}
footer.footer>div.addresswrap {width: 1200px; margin: 0 auto;}
footer.footer>address.ft{font-style: normal;}
footer.footer>address.ft h3{
  color: #444;
  float: left;
}

footer.footer>address.ft p{
  color: #888;
  font-size: 20px;
}