@charset="UTF-8";

/* header start */
header#hdwrap{
	width: 100%;
	height: 155px; 
}

header#hdwrap>div.main{
	width: 100%;
	height: 90px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto; 
	background-color: #0c71a7;
	
}

header#hdwrap>div.main>div.mainhd{
	width: 980px;
	margin: 0 auto;
	position: relative;
}

div.mainhd>nav.hdleft{
	float: left;
}

div.mainhd>nav.hdleft img{
	float: left;
	margin-top: 25px;
}

div.mainhd>nav.hdleft .txtwrap{
	float: left;
	color: #fff;
	text-align: center;
	margin-top: 20px;
} 

div.mainhd>nav.hdleft h1{font-size: 22px;}
div.mainhd>nav.hdleft p{font-size: 10px;}

div.mainhd>div.hdcenter{

}

div.hdcenter{
	position: absolute;
	top: 30px;
	left: 280px;
	display: block;
	color: #000;
	width: 300px;
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
}

div.hdcenter>div.centerwrap>p.search{
	float: left;
	font-weight: bold;
	font-size: 9px; 
	margin-left: 10px;
}

div.hdcenter>div.centerwrap>p{
	float: left;
	font-size: 12px;
	margin-left: 20px;
}

div.hdcenter>div.centerwrap>img{
	float: right;
	margin-top: 7px;
	margin-right: 10px;
}


div.mainhd>nav.hdright{
	float: right;
}
div.mainhd>nav.hdright li{
	float: left;
	margin-left: 10px;
	margin-top: 35px;
}

div.mainhd>nav.hdright li:first-child{
	font-weight: bold;
	color: #fff;
	font-size: 22px;
	margin-top: 30px;
}

header#hdwrap>div.gnbwrap{
	width: 100%;
	height: 65px;
	border-bottom: 5px solid #0e73a9;
}
header#hdwrap>div.gnbwrap>div.gnb{
	width: 980px;
	height: 60px;
	margin: 0 auto;
	background-color: #fff;
}
div.gnbwrap>div.gnb>ul{}
div.gnbwrap>div.gnb>ul>li{
	float: left;
	display: block;
	width: 163.3px;
	height:60px;
	line-height: 60px;
	text-align: center;
	border: 1px solid #e6e6e6;
}
div.gnbwrap>div.gnb>ul>li>a{	
	font-size: 20px;
	font-weight: bold;
}

/* header end */

/* container start*/

/* container-main start*/
div.container{
	width: 100%;
	height: 1100px;
	background-image: url(../img/bgi.jpg);	
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
  position: relative;  
} 
div.container>img{
  position: absolute;
  right: 50%;
  margin-right: -600px;
  top: 90px;
  animation-name: myani;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes myani{
  from{top: 90px; left: 800px;}
  to{top: 120px; left: 800px;}
}

.bx-wrapper{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow: 0 none;
	border: 0 none;
	margin-bottom: 0;   
}

div.container>div.ctwrap{
	width: 980px;		
	position: relative;
	margin: 0 auto;
	padding-top: 30px;
}

/* container-main end*/


/* container-ctwrap start*/


/* container-wrapper start*/
div.container>div.ctwrap>div.wrapper{
 width: 480px;
 height: 306px;
 background-color: #fff; 
}

div.wrapper{
	margin-bottom: 16px;
}

div.slidewrapper{
	float: right;
	width: 320px;
	margin-right: 10px;
}

div.wrapper>div.bx-pager{
	float: left;
	width: 130px;
	height: 75px;
}

div.slidewrapper li{
	padding-top: 5px;
}

div.wrapper>div.bx-pager a{
	display: block;
	text-align: center;
	line-height: 75px;
	color: #fff;
	background-color: #006599;
	font-weight: bold;
	border-bottom: 2px solid #015287;
}

div.wrapper>div.bx-pager a:hover{
	color: #414141;
	background-color: #fff;
}
/* container-wrapper end*/

/* container-boxwrap start*/
div.boxwrap{
	width: 480px;
  margin-bottom: 35px;
}

div.boxwrap>ul{}
div.boxwrap>ul>li{
	float: left;
	position: relative;
}
div.boxwrap>ul>li:first-child{
	margin-right: 14px;
}
div.boxwrap>ul>li div.txt1{
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 233px;
	height: 50px;
	background-color:#152630;
}

div.boxwrap>ul>li div.txt1>p{
	color: #fff;
	line-height: 50px;
	text-align: center;
}

div.boxwrap>ul>li div.txt1>p span{
	color: #6abd61;
	margin-left: 20px;
}

div.boxwrap>ul>li div.txt1>p img{
	margin-left: 10px;
}


div.boxwrap>ul>li div.txt2{
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 233px;
	height: 50px;
	background-color:#152630;
}
div.boxwrap>ul>li div.txt2>p{
	color: #fff;
	line-height: 50px;
	margin-left: 20px;
}

div.boxwrap>ul>li div.txt2>p span{
	color: #6abd61;
	margin-left: 50px;
}

div.boxwrap>ul>li div.txt2>p img{
	margin-left: 10px;
}
/* container-boxwrap end*/


/* container-boxwrapper start*/

div.boxwrapper{
	width: 980px;
	margin: 0 auto;
}
div.boxwrapper>ul>li{
	height: 240px;
  float:left;
  position: relative;
  margin-bottom: 15px;
}


.boxwrapper>ul>li:first-child{
	width: 233px;
	height: 240px;
  margin-right: 15px;
}

.boxwrapper>ul>li:first-child div.t-wrap{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 233px;
	height: 65px;
	background-color: #529351;
}

.boxwrapper>ul>li:first-child div.t-wrap p{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: normal;
}

.boxwrapper>ul>li:first-child div.t-wrap p span{
	color: #e2a202;
}


.boxwrapper>ul>li:nth-child(2){
	width: 233px;
	height: 240px;
  float: left;
  margin-right: 15px;
}

.boxwrapper>ul>li:nth-child(2) div.tt-wrap{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 233px;
	height: 65px;
	background-color: #152630;
}

.boxwrapper>ul>li:nth-child(2) div.tt-wrap p{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: normal;
}

.boxwrapper>ul>li:nth-child(2) div.tt-wrap p span{
	color: #e2a202;
}

.boxwrapper>ul>li:nth-child(3){
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 15px;
}

.boxwrapper>ul>li:nth-child(3) div.btm{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 233px;
	height: 65px;
	background-color:rgba(0,0,0,0.7);
}

.boxwrapper>ul>li:nth-child(3) div.btm p{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
  font-weight: 15px;
}

.boxwrapper>ul>li:nth-child(3) div.btm p span{
	color: #cfcfcf;
}

.boxwrapper>ul>li:nth-child(4){
	width: 233px;
	height: 240px;
	float: left;
}

.boxwrapper>ul>li:nth-child(4) div.btm2{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 233px;
	height: 65px;
	background-color:#44619d;
}

.boxwrapper>ul>li:nth-child(4) div.btm2 p{
	color: #fff;
	margin-top: 10px;
	margin-left: 15px;
	font-weight: 15px;

}

.boxwrapper>ul>li:nth-child(4) div.btm2 p span{
	color: #cfcfcf;
}

.boxwrapper>ul>li:nth-child(5){
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 15px;
}


.boxwrapper>ul>li:nth-child(6){
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 15px;
}

.boxwrapper>ul>li:nth-child(7){
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 15px;
}

.boxwrapper>ul>li:nth-child(8){
	width: 233px;
	height: 240px;
	float: left;
}
.boxwrapper>ul>li div.textwrap{
	position: absolute;
	top: 20px;
	width:233px;
	transition:0.3s;
}
.boxwrapper>ul>li div.textwrap h3{
  text-align: center;
  color: #fff;
}

.boxwrapper>ul>li div.textwrap p{
  font-size: 13px;
  text-align: center;
  color: #fff;
}


.boxwrapper>ul>li img.plusicon{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}

.boxwrapper>ul>li:nth-child(5):hover .textwrap,
.boxwrapper>ul>li:nth-child(6):hover .textwrap,
.boxwrapper>ul>li:nth-child(7):hover .textwrap,
.boxwrapper>ul>li:nth-child(8):hover .textwrap
{
	top:150px;
}


/*footer start*/
.footer{
	height: 100px;
	padding: 30px 0; 
}

.footer>.addresswrap{
	width: 980px; 
	margin: 0 auto;
	padding: 30px 0;
}

.footer>.addresswrap p.top{
	color: #000;
	margin-bottom: 10px;
	text-align: center;
}

.footer>.addresswrap p{
	color:#6f6f6f;
	font-size:15px;
	text-align: center;
}
/*footer end*/